@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
.tabs {
    display: flex;
    cursor: pointer;
    margin-bottom: 20px;
}
.tab {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #ddd;
    border-radius: 5px;
}
.tab.active {
    background-color: #8b4513;
    color: #fff;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}
th {
    background-color: #8b4513;
    color: #fff;
}
.loading {
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
}
/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #f5f0e6;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #b79e70;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.modal-content label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
}
.modal-content input {
    width: calc(100% - 22px); /* 양쪽에 동일한 padding을 적용 */
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #b79e70;
}
.modal-content button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #8b4513;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.modal-content button:hover {
    background-color: #5a3e2b;
}
.add-money-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #8b4513;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.add-money-btn:hover {
    background-color: #5a3e2b;
}
